.side
  .side__head
    .side-head__block
      .side-left
        masa
      .side-right
        %i.fa.fa-edit
        %i.fa.fa-cog
    
      
.side__box
  .side-name
    .side-name-top
      techcamp  
    .side-name-bottom
      %pまだメッセージがありません
      


