* {
  box-sizing: border-box;
  text-decoration: none;
}

.side {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  position: relative;
  float: left;
  
  &__head {
    height: 100px;
        
    .side-head__block {
      width: 100%;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      position: relative;
      color: #ffffff;
      
      }
      .side-left {
        margin-left: 20px;
        font-weight: bold;
      }
      .side-center a {
        margin-left: 160px;
        color: #ffffff;
      }
      .side-mark a {
        margin: 0 10px 0 ;
        color: #ffffff;
        
      }

        
      
  
}

&__box {
  background-color: #2f3e51;
  height: calc(100% - 100px);
  position: absolute;
  bottom: 0px;
  width: 300px;
  overflow: hidden;
  
  .side-name {
    color: #ffffff;
      margin-top: 40px;
      margin-left: 20px;
  }
    .side-name-top {
      font-size: 15px; 
      
  }
   
    .side-name-bottom {
      font-size: 11px;
    
  }
}
}



  


.main {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  float: right;
  &__head {
    background-color: #ffffff;
    height: 100px;
    justify-content: space-between;
    display: flex;
    
      .main__head_left {
      color: #333333;
      font-size: 20px;
      margin-top: 25px;
      margin-left: 30px;
      
    }
     .main__head_left_group {
       font-size: 12px;
       margin-top: 20px;
       
     }
      .main__head_left_name {
        color: #999999;
        font-size: 12px;
        float: right;
        margin-top: 20px;
      }
      .main__head_right {
        font-size: 16px;
        border: 1px solid $light_blue;
        height:40px;
        width: 72px;
        text-align: center;
        line-height: 40px;
        margin-right: 20px;
        margin-top: 25px;
        
    }
      .main__head_right a {
        color: $light_blue;
      }
  }
  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    .message {
      
      .upper-message {
        display: flex;
        &__user-name {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
          
        }
        &__date {
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: #434a54;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    position: relative;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: #00ccff;
      border: none;
      color: white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 50px;
      padding: 0 30px;
      position: absolute;

    }
  }
}


